<h1>My list</h1>

<div id="list">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div>


<%= link_to "New list", new_list_path %>
